<% layout('layout') -%>
<% stylesheet('//s3.amazonaws.com/www.emeraldcode.com/v2/css/about.css') -%>
<% stylesheet('//s3.amazonaws.com/www.emeraldcode.com/v2/css/lib/flexslider.css') -%>
<% script('//s3.amazonaws.com/www.emeraldcode.com/v2/js/flexslider.js') -%>
<div id="aboutus">
    <div class="container">
        <div class="section_header">
            <h3>About Emerald Code</h3>
			<p style="margin-top:10px;">We are an IT shop specialized in eCommerce integration with ERP platforms</p>
        </div>
        <div class="row">
            <div class="span6 intro">
                <h6>Who you hire defines your company</h6>
                <p>
					Hi, I'm the founder, Jason Sebring. With more than a decade of experience as a senior developer 
					in the IT industry in Fortune 500 companies, 
					I know talent and dedication when I see it and I will not hire anything less. 
					Our staff consists
					of seasoned developers and fantastic designers hand picked by me. See our team below. 
				</p>
            </div>
            <div class="span6 flexslider">
                  <ul class="slides">
                    <li>
                      <img src="//s3.amazonaws.com/www.emeraldcode.com/v2/img/about_slide1.jpg" />
                    </li>
                    <li>
                      <img src="//s3.amazonaws.com/www.emeraldcode.com/v2/img/about_slide2.jpg" />
                    </li>
                    <li>
                      <img src="//s3.amazonaws.com/www.emeraldcode.com/v2/img/about_slide3.jpg" />
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</div>

<div id="team">
    <div class="container">
        <div class="section_header">
            <h3>The Emerald Code Team</h3>
        </div>

        <div class="row people">
            <div class="row row1">
                <div class="span6 bio_box">
                    <img src="//s3.amazonaws.com/www.emeraldcode.com/v2/img/team/jasonsebring.png" alt="">
                    <div class="info">
                        <p class="name">Jason Sebring</p>
                        <p class="area">code craftsman and opulent owner</p>
                        <a href="https://www.facebook.com/jason.sebring.16" class="facebook">
                            <span class="socialicons ico1"></span>
                            <span class="socialicons_h ico1h"></span>
                        </a>
                        <a href="https://www.facebook.com/randomjason" class="twitter">
                            <span class="socialicons ico2"></span>
                            <span class="socialicons_h ico2h"></span>
                        </a>
                    </div>
                </div>

	            <div class="span6 bio_box bio_boxr">
	                <img src="//s3.amazonaws.com/www.emeraldcode.com/v2/img/team/ramkumar.png" alt="">
	                <div class="info">
	                    <p class="name">Ram Kumar</p>
	                    <p class="area">programmer papa and<br/> syntax superman</p>
	                    <!--<a href="#" class="facebook">
	                        <span class="socialicons ico1"></span>
	                        <span class="socialicons_h ico1h"></span>
	                    </a>
	                    <a href="#" class="twitter">
	                        <span class="socialicons ico2"></span>
	                        <span class="socialicons_h ico2h"></span>
	                    </a>-->
	                </div>
	            </div>

            </div>

            <div class="span6 bio_box bio_boxr">
                <img src="//s3.amazonaws.com/www.emeraldcode.com/v2/img/team/jasonyapp.png" alt="">
                <div class="info">
                    <p class="name">Jason Yapp</p>
                    <p class="area">zen zealot and graphical gorilla</p>
                    <a href="https://www.facebook.com/yapperoo" class="facebook">
                        <span class="socialicons ico1"></span>
                        <span class="socialicons_h ico1h"></span>
                    </a>
                    <a href="https://www.twitter.com/jasonyapp" class="twitter">
                        <span class="socialicons ico2"></span>
                        <span class="socialicons_h ico2h"></span>
                    </a>
                </div>
            </div>

            <div class="row row1">
                <div class="span6 bio_box">
                    <img src="//s3.amazonaws.com/www.emeraldcode.com/v2/img/team/alesimmons.png" alt="">
                    <div class="info">
                        <p class="name">Ale Simmons</p>
                        <p class="area">brainy blogger and energized seo-er</p>
                        <!--<a href="#" class="facebook">
                            <span class="socialicons ico1"></span>
                            <span class="socialicons_h ico1h"></span>
                        </a>
                        <a href="#" class="twitter">
                            <span class="socialicons ico2"></span>
                            <span class="socialicons_h ico2h"></span>
                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="process">
    <div class="container">
        <div class="section_header">
            <h3>Our Process</h3>
        </div>
        <div class="row services_circles">
            <div class="span4 description">
                <div class="text active">
                    <h4>Planning Phase</h4>
                    <p>
						We sit down or goto meeting or skype or google hangout through what you need, what you are looking to do. We come up with a proposal based on that, deliver it to you and you sign off and away we go.
                    </p>
                </div>
                <div class="text">
                    <h4>Design Process</h4>
                    <p>
						From the proposal doc we create a series of screen shots or "comps" that represent how the website will look when its completed. 
						You put your initials on each screenshot and we move on the development step as each comp or section of comps is approved by you.
                    </p>
                </div>
                <div class="text">
                    <h4>Development Step</h4>
                    <p>
						The programming starts on the approved comps to eventually complete the entire website shown to you in a preview environment. 
						Once the website or web app has been tested and looked over by you and given the thumbs up, we set it live to the world.
					</p>
                </div>
            </div>

            <div class="span7 areas">
                <div class="circle active">
                    <img src="//s3.amazonaws.com/www.emeraldcode.com/v2/img/plan.png" />
                    <span>Plan</span>
                </div>
                <div class="circle">
                    <img src="//s3.amazonaws.com/www.emeraldcode.com/v2/img/design.png" />
                    <span>Design</span>
                </div>
                <div class="circle last_circle">
                    <img src="//s3.amazonaws.com/www.emeraldcode.com/v2/img/develop.png" />
                    <span>Develop</span>
                </div>
            </div>
        </div>
    </div>
</div>