<% layout('layout') -%>
<% stylesheet('//s3.amazonaws.com/www.emeraldcode.com/v2/css/contact.css') -%>
<% script('//s3.amazonaws.com/www.emeraldcode.com/v2/js/contact.js') -%>
<div id="contact">
    <div class="container">
        <div class="section_header">
            <h3>Get in touch</h3>
        </div>
        <div class="row contact">
            <p>
                We’d love to hear from you. Interested in working together? Fill out the form below with some info about your project and we will get back to you same day. 
				Please tell us as much as you can so we can better understand your needs.
			</p>
			<div class="row" style="margin-bottom:20px">
				<div class="span6">
					<ul>
						<li>Tell us about your company.</li>
						<li>What is your budget?</li>
						<li>What is your timeline?</li>
						<li>Do you know what ERP or eCommerce platform you want?</li>
					</ul>
				</div>
				<div class="span6">
					<ul>
						<li>Do you have any requirements outlined?</li>
						<li>What is your existing website if any?</li>
						<li>Do you need a designer?</li>
						<li>Do you currently have IT staff?</li>
					</ul>
				</div>
			</div>
			
            <form id="contactform" action="#" novalidate>
                <div class="row form">
                    <div class="span6 box">
                        <input id="name" type="text" class="name" required type="text" placeholder="Name">
                        <input id="email" type="email" class="mail" required type="text" placeholder="Email">
                        <input id="phone" type="tel" class="phone" required type="text" placeholder="Phone">
                    </div>
                    <div class="span6 box box_r">
                        <textarea id="message" required placeholder="Type a message here..."></textarea>
                    </div>
                </div>

				<div id="error" class="alert alert-error" style="display:none;">
				  Oops, please fill out the form completely.
				</div>

                <div class="row submit">
                    <div class="span5 box">
                        <!--<label class="checkbox">
                            <input type="checkbox"> Sign up for newsletter
                        </label>-->
                    </div>
                    <div class="span3 right">
                        <input type="submit" value="Send your message">
                    </div>
                </div>
            </form>

			<div id="thanks" class="alert alert-success" style="display:none">
			  Thanks! We'll be in touch.
			</div>
        </div>
    </div>

    <div class="row map">
        <div class="container">
            <div class="span5 box_wrapp">
                <div class="box_cont">
                    <div class="head">
                        <h6>Contact</h6>
                    </div>
                    <ul class="street">
                        <li>3501 Green LN</li>
                        <li>Redondo Beach, CA. 90278</li>
                        <li class="icon icontop">
                            <span class="contacticos ico1"></span>
                            <span class="text">(424) 634 2100</span>
                        </li>
                        <li class="icon">
                            <span class="contacticos ico2"></span>
                            <a class="text" href="#">sales@emeraldcode.com</a>
                        </li>
                    </ul>

                    <div class="head headbottom">
                        <h6>Work with us</h6>
                    </div>
                    <p>We'll walk you through everything to get you up and running.</p>
                </div>
            </div>
        </div>
        <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/?ie=UTF8&amp;ll=33.886745,-118.377126&amp;spn=0.045157,0.15398&amp;t=m&amp;z=13&amp;output=embed"></iframe>
    </div>
</div>