<% layout('layout') -%>
<% stylesheet('//s3.amazonaws.com/www.emeraldcode.com/v2/css/portfolio.css') -%>
<% stylesheet('//s3.amazonaws.com/www.emeraldcode.com/v2/css/lib/isotope.css') -%>
<% script('//s3.amazonaws.com/www.emeraldcode.com/v2/js/jquery.isotope.min.js') -%>
<% script('//s3.amazonaws.com/www.emeraldcode.com/v2/js/portfolio.js') -%>
<div id="portfolio">
    <div class="container">
        <div class="section_header">
            <h3>Portfolio</h3>
        </div>
        <div class="row">
            <div class="span12">
                <div id="filters_container">
                    <ul id="filters">
                        <li><a href="#" data-filter=".photo" class="active">All</a></li>
                        <li class="separator">/</li>
                        <li><a href="#" data-filter=".boards">Boards</a></li>
                        <li class="separator">/</li>
                        <li><a href="#" data-filter=".lifestyle">Lifestyle</a></li>
                        <li class="separator">/</li>
                        <li><a href="#" data-filter=".moto">Moto</a></li>
                        <li class="separator">/</li>
                        <li><a href="#" data-filter=".clothing">Clothing</a></li>
                        <li class="separator">/</li>
                        <li><a href="#" data-filter=".shoes">Shoes</a></li>
                    </ul>
                </div>
            </div>
        </div>            
        <div class="row">
            <div class="span12">
                <div id="gallery_container">
                    <div class="photo boards">
                        <img src="//s3.amazonaws.com/www.emeraldcode.com/img/slide-futures.jpg" />
                        <a href="http://www.futuresfins.com" target="_blank" class="mask">
                            <h3>Futures Fins</h3>
                            <small>Future Fins Surf Board Technology</small>
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="photo lifestyle clothing">
                        <img src="//s3.amazonaws.com/www.emeraldcode.com/img/slide-killerdistributions.jpg" />
                        <a href="http://www.famoussas.com" target="_blank" class="mask">
                            <h3>Famous Stars and Straps</h3>
                            <small>Doing our own thing since 1999</small>
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="photo moto">
                        <img src="//s3.amazonaws.com/www.emeraldcode.com/img/slide-stomp.jpg" />
                        <a href="http://www.stompgrip.com" target="_blank" class="mask">
                            <h3>StompGrip</h3>
                            <small>Traction in Action</small>
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="photo boards clothing">
                        <img src="//s3.amazonaws.com/www.emeraldcode.com/img/slide-trewgear.jpg" />
                        <a href="http://www.trewgear.com" target="_blank" class="mask">
                            <h3>Trew</h3>
                            <small>stylish and technical ski/snowboard outerwear</small>
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="photo shoes clothing">
                        <img src="//s3.amazonaws.com/www.emeraldcode.com/img/slide-bearpaw.jpg" />
                        <a href="http://www.bearpaw.com" target="_blank" class="mask">
                            <h3>Bearpaw</h3>
                            <small>Largest Selection of Womens, Mens, and Kids Boots</small>
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="photo boards clothing">
                        <img src="//s3.amazonaws.com/www.emeraldcode.com/img/slide-captainfin.jpg" />
                        <a href="http://www.captainfin.com" target="_blank" class="mask">
                            <h3>Captain Fin</h3>
                            <small>Be Cool Man</small>
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="photo moto">
                        <img src="//s3.amazonaws.com/www.emeraldcode.com/img/slide-klim.jpg" />
                        <a href="http://www.klim.com" target="_blank" class="mask">
                            <h3>Klim</h3>
                            <small>KLIM Snowmobile and Motorcycle Gear</small>
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="photo boards">
                        <img src="//s3.amazonaws.com/www.emeraldcode.com/img/slide-homeschoolsnowboarding.jpg" />
                        <a href="http://www.homeschoolsnowboarding.com" target="_blank" class="mask">
                            <h3>Homeschool Snowboarding</h3>
                            <small>the northwest isn't california dreaming and we like it that way</small>
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="photo clothing">
                        <img src="//s3.amazonaws.com/www.emeraldcode.com/img/slide-aventuraclothing.jpg" />
                        <a href="http://www.aventuraclothing.com" target="_blank" class="mask">
                            <h3>Aventura Clothing</h3>
                            <small>Eco Friendly Clothing for Women</small>
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="photo shoes">
                        <img src="//s3.amazonaws.com/www.emeraldcode.com/img/slide-mozoshoes.jpg" />
                        <a href="http://www.mozoshoes.com" target="_blank" class="mask">
                            <h3>Mozo Shoes</h3>
                            <small>Shoes that serve</small>
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="photo clothing">
                        <img src="//s3.amazonaws.com/www.emeraldcode.com/img/slide-sportif.jpg" />
                        <a href="http://www.sportif.com" target="_blank" class="mask">
                            <h3>Sportif</h3>
                            <small>Home of Sportif Stretch shorts and pants</small>
                            <div class="more">+</div>
                        </a>
                    </div>
                    <div class="photo shoes clothing">
                        <img src="//s3.amazonaws.com/www.emeraldcode.com/img/slide-gotta-flurt.png" />
                        <a href="http://www.gottaflurt.com" target="_blank" class="mask">
                            <h3>Gotta Flurt</h3>
                            <small>Style with Attitude</small>
                            <div class="more">+</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>
