<% layout('layout') -%>
<% stylesheet('//s3.amazonaws.com/www.emeraldcode.com/v2/css/services.css') -%>
<div id="service_2">
    <div class="container">
        <div class="section_header">
            <h3>Services</h3>
        </div>
        <div class="row perk">
            <div class="span2 circle circle1">
                <img src="//s3.amazonaws.com/www.emeraldcode.com/v2/img/services_ecommerce.png" alt="">
            </div>

            <div class="span10 description_wrapper">
                <h5>eCommerce for the web &amp; mobile</h5>
				<p>
					We have the experience and skills to bring your eCommerce presence to the modern web. Your store
					will be future proof with support for the latest devices, tuned for easy and quick shopping.
				</p>
                <p>
					From fine design to in depth programming, we create higher-end websites that are custom-tailored to sell 
					your products and your brand. See <a href="/portfolio">our portfolio</a>.
				</p>
				<ul style="margin-top:10px;text-align:left;">
					<li>Hubsoft and Netsuite eCommerce</li>
					<li>Custom Web and App Programming</li>
					<li>Website/App Design</li>
					<li>Graphic Design</li>
					<li>Website SEO</li>
					<li>Cloud or Dedicated Hosting or Administration</li>
					<li>On-going Maintenance / Updates</li>
				</ul>
            </div>
			<a name="consulting"></a>
        </div>

        <div class="row perk">
            <div class="span2 circle">
                <img src="//s3.amazonaws.com/www.emeraldcode.com/v2/img/services_consulting.png" alt="">
            </div>

            <div class="span10 description_wrapper">
                <h5>On Site Consulting</h5>
				<p>
					Our team is a group of seasoned developers with experience working in fortune 500 companies. Our 
					expert team will guide you through organizing your IT approach.
				</p>
                <p>
					We come to your business, meet your team and work together to fix or improve your website presence 
					to achieve the following directives.
                </p>
				<ol style="margin-top:10px;text-align:left;">
					<li>Identify needed areas of improvement</li>
					<li>Understand your capabilities</li>
					<li>Come up with a strategy</li>
					<li>Show you the latest tools of the trade to get you there</li>
					<li>Train, mentor and empower your team achieve it</li>
					<li>Provide services and assistance to fill the gaps</li>
					<li>Future proof your organization</li>
				</ol>
            </div>
			<a name="kitgui"></a>
        </div>

        <div class="row perk last">
            <div class="span2 circle">
                <img src="//s3.amazonaws.com/www.emeraldcode.com/v2/img/services_cms.png" alt="">
            </div>
            <div class="span10 description_wrapper">
                <h5>Content Management Reimagined</h5>
                <p>
					We've created a centralized way to manage all your websites and content editors across your organization 
					that is compatible with any OS and server-side technology.
				</p>
				<ul style="margin-top:10px;text-align:left;">
					<li>Localization and international websites</li>
					<li>Content sharing across websites</li>
					<li>Manage Content Editors across websites</li>
					<li>Unlimited file storage</li>
				</ul>
				<p>For more information, see our sister company <a href="http://www.kitgui.com" target="_blank">KitGUI.com</a></p>
            </div>
        </div>
    </div>
</div> 